{% extends "_info_page_base.njk" %}

{% block title %}
  <div>About Us</div>
{% endblock %}

{% block moreContent %}
  <div class="about-content">

      <div class="cards info-section">

        <div class="about profile card" id="mk-profile">
            <div class="profile card-content">
              <div class="card-title">
                <h3>M. K. Fain</h3>
              </div>
              <p>M. K. has a background in social science and non-profit marketing. She is passionate about animal rights and feminism.</p>
              <a href="http://maryatefain.com" class="button" target="_blank">Personal Site</a>
            </div>
        </div>

        <div class="about profile card" id="alex-profile">
            <div class="profile card-content">
              <div class="card-title">
                <h3>Alex Gleason</h3>
              </div>
              <p>Alex is a full-stack developer with 8 years of experience. He is passionate about educating others on free software and anarchism.</p>
              <a href="http://alexgleason.me" class="button" target="_blank">Personal Site</a>
            </div>
        </div>

      </div>

      <div class="wide-image quote" id="lennon">
        <div class="dark">
          <p>&ldquo;A dream you dream alone is only a dream. A dream you dream together is reality.&rdquo;</br><cite>&mdash;John Lennon</cite></p>
          </p>
        </div>
      </div>

    </div>

  </div>
{% endblock %}
