{% extends "_base.njk" %}

{% block extra_styles %}
  <link rel="stylesheet" href="/assets/styles/home_styles.css">
  <link rel="stylesheet" href="/assets/styles/card_styles.css">
{% endblock %}

{% block content %}
  <body>
    <header>

      <div class="introduction">
        <h1>Candlewaster</h1>
        <p class="subheadline">The free software collective that never sleeps</p>
      </div>
    </header>

    <section class="full black" id="social-background">
      <div class="dark">
        <div class="section-content">
          <h2>Technology as a Catalyst for Good</h2>
          <div class="section-info">
            <div class="section-text">
              <p>We believe in shaping the future we want through responsible technology. We work with non-profits and activists to create websites and apps that will improve our local and global community. Our clients are people who have seen problems, and are taking action to fix them.</p>
              <p>Our work is always open source, and we believe that liberated software is a modern basic right.</p>
              </div>
          </div>
        </div>
      </div>
    </section>

      <div class="full info-section">
        <div class="section-content">
          <div class="section-title">
            <h2>Philly activists on a Mission</hs>
          </div>

          <div class="home cards">

            <div class="about card" id="social-good">
              <div class="about card-content">
                <div class="card-title">
                  <h3>Social Good</h3>
                </div>
                <p>We work with activists and organizations on projects that are going to make a difference.</p>
              </div>
            </div>

            <div class="about card" id="open-source">
              <div class="about card-content">
                <div class="card-title">
                  <h3>Open Source</h3>
                </div>
                <p>We believe that free software creates better code and communities. All of our work is open source.</p>
              </div>
            </div>

            <div class="about card" id="worker-collective">
              <div class="about card-content">
                <div class="card-title">
                  <h3>Worker's Collective</h3>
                </div>
                <p>At Candlewaster, the workers are the owners. No corporate evil to see here.</p>
              </div>
            </div>
          </div>
        </div>
      </div>

    <section class="full black" id="app-background">
      <div class="dark">
        <div class="section-content">
          <h2>Web Applications for the Mobile Era</h2>
          <div class="section-info">
            <div class="section-text">
              <p>We build beautiful mobile-first web applications in Django that will make your idea a reality. With a focus on user-experience, our apps feel clean and simple no matter the level of back-end complexity.</p>
              <p>View our work <a href="/portfolio" target="_bank">here</a>.</p>
            </div>
          </div>
        </div>
      </div>
    </section>

{% endblock %}
