{# This page is currently disabled #}


{% extends "_info_page_base.njk" %}

{% block title %}
<div>Our Work</div>
{% endblock %}

{% block moreContent %}
<div class="portfolio-content">

    <div class="cards">

      <div class="flip-container">
        <div class="flipper">
          <div class="front portfolio card" id="tier">
          </div>
          <div class="back portfolio card card-content">
            <div class="card-title">
              <h3>Project TIER</h3>
            </div>
            <p>Candlewaster manages the Project TIER website using Wagtail, making regular changes and updates to reflect the growing nature of the project. We have built custom apps (such as the Network section), improved Wagtail Plugins such as Wagalytics, and helped keep a large website managable and flexible by the users.</p>
            <a href="https://projecttier.org" class="button" target="_blank">View Live</a>
          </div>
        </div>
      </div>

      <div class="flip-container">
        <div class="flipper">
          <div class="front portfolio card" id="gardenhub">
          </div>
          <div class="back portfolio card card-content">
            <div class="card-title">
              <h3>GardenHub</h3>
            </div>
            <p>Candlewaster designed and built this Django-based web app from the ground up to help connect Philadelphians with community garden plots to someone who will pick the food and deliver it to those in need. The mobile-first web app supports a variety of user types, personal plot customization, and management tools for organizers.</p>
            <a href="https://gardenhub.io" class="button" target="_blank">Learn More</a>
          </div>
        </div>
      </div>

    </div>

  </div>

  </div>


</div>


</div>
{% endblock %}
