{% extends "_info_page_base.njk" %}

{% block title %}
<div>Our Services</div>
{% endblock %}

{% block moreContent %}
  <div class="services-content">

    <div class="info-section">
      {# <div class="section-title">
        <h2>Services We Offer</h2>
      </div> #}

      <div class="cards">
        <div class="services card">
          <div class="services card-content">
            <div class="card-title">
              <h3>Responsive Websites</h3>
            </div>
            <p>We create beautiful websites to tell your organization's story. With a focus on responsive design, our websites will work no matter how they're being viewed.</p>
          </div>
        </div>

        <div class="services card">
          <div class="services card-content">
            <div class="card-title">
              <h3>Django Web Applications</h3>
            </div>
            <p>We are following the market away from native apps, and into web applications that feel native. Our Django projects can power both small apps, and big ideas.</p>
          </div>
        </div>

        <div class="services card">
          <div class="services card-content">
            <div class="card-title">
              <h3>Mobile-first Design</h3>
            </div>
            <p>Our projects are clean, simple, and responsive. Designed from the ground-up to be mobile, you can trust that your users will never be frustrated on the go.</p>
          </div>
        </div>
      </div>

    </div>

    <div class="wide-image" id="process">
      <div class="dark">
        <p>Our immersive discovery process will help take your idea into a tangible plan while being true to your vision.</p>
        </p>
      </div>
    </div>


  </div>
{% endblock %}
