<!DOCTYPE html>
<html>
  <head>
    <title>Candlewaster &mdash; Philadelphia, PA free software collective and tech services</title>
    <!-- Meta -->
    <meta name="description" content="The free software collective that never sleeps.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="msapplication-config" content="/assets/images/meta/browserconfig.xml">
    <meta name="theme-color" content="#000000">
    <link rel="manifest" href="/assets/images/meta/manifest.json">
    <!-- Open Graph protocol -->
    <meta property="og:title" content="Candlewaster Free Software Collective">
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://candlewaster.co/">
    <meta property="og:image" content="http://candlewaster.co/assets/images/meta/og-image.png">
    <meta property="og:description" content="Philadelphia, PA free software collective and tech services.">
    <meta property="og:locale" content="en_US">
    <!-- Stylesheets -->
    <link  rel="stylesheet" href="https://fonts.googleapis.com/css?family=Slabo+27px|Alice">
    <link rel="stylesheet" href="/assets/styles/style.css">

    <!-- Icons -->
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/meta/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="/assets/images/meta/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/assets/images/meta/favicon-16x16.png" sizes="16x16">
    <link rel="mask-icon" href="/assets/images/meta/safari-pinned-tab.svg" color="#000000">
    <link rel="shortcut icon" href="/assets/images/meta/favicon.ico">
    {% block extra_styles %}{% endblock %}
  </head>
  <body>

    <header>

      <div class="background">
        <div class="starfield"></div>
        <div class="twinkle"></div>
        <div class="clouds"></div>
      </div>
      <nav class="template">
        <div class="nav">
          <ul>
            <li><a href="/services" class="button">Services</a></li>
            <li><a href="/about" class="button">About</a></li>
            <li><a href="/portfolio" class="button">Portfolio</a></li>
          </ul>
        </div>
      </nav>
    </header>


  {% block content %}{% endblock %}

  <footer>
    <section class="full">
        <div class="columns">
          <div class="footer-column">
            <h3>Can"dle*wast`er (n.)</h3>
            <ol>
              <li>One who consumes candles by being up late for study of dissipation</li>
              <li>A full-stack web development collective that builds feature-rich, content-managed websites</li>
            </ol>
          </div>
          <div class="footer-column">
            <ul class="links">
              <li><a href="mailto:hello@candlewaster.co?Subject=Hello!" class="button">Email</a></li>
              <li>e: hello@candlewaster.co</li>
              <li><a href="https://gitlab.com/candlewaster" target="_bank">View on GitLab</a></li>
            </ul>
          </div>
      </div>
    </section>
  </footer>

  <script src="/assets/main.js"></script>

  </body>
</html>
