{% extends "_base.njk" %}

{% block extra_styles %}
  <link rel="stylesheet" href="/assets/styles/template_styles.css">
  <link rel="stylesheet" href="/assets/styles/card_styles.css">
{% endblock %}


{% block content %}

<div class="title">
  <div class="logo">
    <a href="/">W</a>
    <div class="logo-subtitle">Can"dle*wast`er (n.)</div>
  </div>
  <h1 class="page-title">{% block title %}{% endblock %}</h1>
</div>

  <div class="page-content">
    {% block moreContent %}{% endblock %}
  </div>

{% endblock %}
