
.cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

@media (max-width: 800px) {
  .cards {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 970px) {
  .home .cards {
    display: flex;
    flex-direction: column;
  }
}

.card {
  background-color: lightgrey;
  border-radius: 6px;
  box-shadow: 5px 5px rgba(0,0,0,.2);
}

.card-content {
  margin-top: 0px;
  height: 300px;
  background-color: #f6f6f6;
  color: black;
}

.card-content h3 {
    margin: 0px auto;
    padding: 20px;
  }

.card-content p {
    margin: 0px auto;
    padding: 20px;
  }

.about.card {
  width: 30%;
  height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}

@media (max-width: 800px) {
  .about.card {
    width: auto;
    height: auto;
    margin-bottom: 20px;
  }
}

.about.card-content {
  margin-left: 100px;
}

.profile.card {
  width: 40%;
  min-width: 400px;
  height: auto;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left;
}

@media (max-width: 800px) {
  .profile.card {
    width: auto;
    height: auto;
    min-height: 300px;
    margin-bottom: 20px;
    min-width: 300px;
  }
}

.profile.card-content {
  width: auto;
  margin-left: 200px;
  height: 100%;
  min-height: 300px;
}

@media (max-width: 800px) {
  .profile.card-content {
    width: auto;
    margin-left: 0px;
  }
}

.services.card {
  width: 30%;
  height: 300px;
}

@media (max-width: 800px) {
  .services.card {
    width: auto;
    height: auto;
    margin-bottom: 20px;
  }
}


/* // .portfolio.card.flipped {
//   .card-content {
//     display: block;
//   }
//   .card-img {
//     display: none;
//   }
// }

// CARD FLIP */

.flip-container {
  width: 40%;
  min-width: 300px;
  height: 400px;
}

@media (max-width: 800px) {
  .flip-container {
    width: 90%;
    height: 400px;
    margin: 20px auto;
  }
}

.portfolio.card {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  /* // .card-content { */
  /* //   display:none;
  // } */
}

/* entire container, keeps perspective */
.flip-container {
	perspective: auto;
}
	/* flip the pane when hovered */
	.flip-container:hover .flipper, .flip-container.hover .flipper {
		transform: rotateY(180deg);
	}

.front, .back {
  width: 100%;
  min-width: 300px;
  height: 400px;
  min-height: 400px;
  overflow: hidden;
}

@media (max-width: 800px) {
  .front, .back {
    width: 100%;
    height: 400px;
    min-height: 400px;
  }
}


/* flip speed goes here */
.flipper {
	transition: 1s;
	transform-style: preserve-3d;
	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
}

@media (max-width: 800px) {
  .front {
    display: none;
  }
  .back {
    transform: rotateY(0deg);
    backface-visibility: visible;
  }
}

/* //CARD BUTTON */

.card a.button {
  padding: 10px 20px;
  border: 1px solid white;
  color: white;
  background-color: #4A9DA7;
  float: right;
  margin-right: 20px;
}
.card a.button:hover {
    color: #4A9DA7;
    background-color: white;
    border: 1px solid #4A9DA7;
  }


/* // CARD BACKGROUNDS */

#social-good {
  background-image: url("../images/march.jpg");
}

#open-source {
  background-image: url("../images/computer.jpg");
}

#worker-collective {
  background-image: url("../images/together.jpg");
}

#mk-profile {
  background-image: url("../images/marykate.jpg");
}

#alex-profile {
  background-image: url("../images/alex.jpeg");
}

#tier {
  background-image: url("../images/project-tier-3.png");
  background-color: #a70025;
}

#gardenhub {
  background-image: url("../images/garden-hub.png");
  background-color: #870c88;
}
