html {
  font-family: 'Slabo 27px', serif;
  color: white;
  background: black;
}

body {
  margin: 0 auto;
  padding: 0;
  font-size: 20px;
}

header {
  margin: 50px 0;
}

@media (max-width: 600px) {
  header {
    display: flex;
    flex-direction: column-reverse;
    margin: 20px auto;
  }
}

h1 {
  font-family: 'Alice', serif;
  text-transform: uppercase;
  font-size: 5rem;
}

@media (max-width: 600px) {
  .title h1 {
    font-size: 3rem;
  }
}

h2 {
  font-size: 2rem;
}

a {
  color: white;
}

a.button {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  padding: 10px 20px;
  border: 1px solid lightgrey;
  border-radius: 4px;
  transition: all 0.4s;
}
a.button:hover {
  background: lightgrey;
  color: black;
}

nav {
  top: 0px;
  width: 100%;
}
nav ul {
  display: flex;
  justify-content: flex-end;
  width: 95%;
}
nav li {
  text-decoration: none;
  list-style: none;
  margin: 10px;
}

@media (max-width: 600px) {
  nav {
    width: 100%;
  }
  nav ul {
    width: 100%;
    padding: 0px;
    margin-top: 20px;
    margin-bottom: 0px;
    justify-content: center;
  }
}

footer {
  width: 100%;
  bottom: 0px;
  // background-color: #000000;
  margin-top: 50px;
}

.columns {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

@media (max-width: 600px) {
  .columns {
    flex-direction: column;
  }
}

.footer-column {
  padding: 20px;
  max-width: 50%;
}
.footer-column ul {
  list-style: none;
}
.footer-column li {
  margin-bottom: 20px;
}

@media (max-width: 600px) {
  .footer-column {
    padding: 0px;
    max-width: 100%;
  }
}

ul.links {
  text-align: right;
}
ul.links a {
  text-decoration: none;
}
ul.links a:hover {
  color: #4A9DA7;
}

@media (max-width: 600px) {
  ul.links {
    text-align: left;
  }
  ul.links a {
    text-decoration: none;
  }
  ul.links a:hover {
    color: #4A9DA7;
  }
}

.external-logo {
  width: 20px;
  height: 20px;
}

@keyframes twinkle {
    from { background-position:0 0; }
    to { background-position:-10000px 5000px; }
}

@keyframes clouds {
    from { background-position:0 0; }
    to { background-position:10000px 0; }
}

.background, .starfield, .twinkle, .clouds {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  display: block;
  pointer-events: none;
}

.background {
  position: fixed;
  z-index: -1;
}

.starfield, .twinkle, .clouds {
  position: absolute;
}

.starfield {
  background: transparent url("../images/starfield.svg") repeat top center;
  opacity: 0.9;
  z-index: -3;
}

.twinkle {
  background :transparent url("../images/twinkle.svg") repeat top center;
  z-index: -2;
  animation: twinkle 200s linear infinite;
}

.clouds {
  background: transparent url("../images/clouds.png") repeat top center;
  z-index: 0;
  animation: clouds 200s linear infinite;
}
