.title {
  display: flex;
  justify-content: center;
  width: 95%;
  margin: 0 auto;
  margin-top: -20px;
  margin-bottom: 100px;
}

@media (max-width: 600px) {
  .title {
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

@media (max-width: 600px) {
  a.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 10px;
  }
}

@media (max-width: 600px) {
  nav.template {
    width: 100%;
  }
  nav.template ul {
    width: 100%;
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    justify-content: flex-end;
  }
}


.logo {
  font-size: 10rem;
  font-weight: bold;
  font-family: 'Alice', serif;
  position: absolute;
  left: 20px;
  top: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 600px) {
  .logo {
    font-size: 4rem;
    font-weight: bold;
    font-family: 'Alice', serif;
    position: absolute;
    left: 20px;
    top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.logo a {
  text-decoration: none;
  color: white;
}

.logo-subtitle {
  font-size: 14px;
  margin-top: -25px;
  padding: 0px;
}

@media (max-width: 600px) {
  .logo-subtitle {
    display: none;
  }
}

.page-title {
  align-self: flex-end;
}

.page-content {
  min-height: 300px;
  /* // background-color: #4A9DA7; */
}

.wide-image {
  width: 100%;
  height: 500px;
  text-align: center;
  margin: 0 auto;
  background-color: #4A9DA7;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#lennon {
  background-image: url("../images/mural.jpg");
}

#process {
  background-image: url("../images/process.jpg");
}

#code {
  background-image: url("../images/code.png");
}

.dark {
  background-color: rgba(0,0,35,.4);
  height: 500px;
}

.wide-image p {
  font-size: 32px;
  height: 50px;
  color: white;
  text-shadow: 1px 1px #000000;
  max-width: 800px;
  margin: 0 auto;
  padding: 200px;
  padding-bottom: 0px;
}

@media (max-width: 600px) {
  .wide-image p {
    padding: 120px 20px;
  }
}

cite {
  display: block;
  padding: 20px;
}

.info-section {
  margin: 50px auto;
  margin-bottom: 0px;
  padding: 20px;
  padding-bottom: 100px;
  margin-bottom: 50px;
}

.services-content .info-section {
  padding-bottom: 0px;
}

.about-section:last-of-type {
  margin-bottom: 0px;
}

.section-title {
  padding-left: 40px;
  color: white;
  text-shadow: 1px 1px #000000;
}

@media (max-width: 600px) {
  .section-title {
    padding-left: 0px;
  }
}
